<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  	<meta charset="utf-8">

  	<!-- Use the .htaccess and remove these lines to avoid edge case issues.
       	 More info: h5bp.com/i/378 -->
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  	<title></title>
  	<meta name="description" content="">

  	<!-- Mobile viewport optimized: h5bp.com/viewport -->
  	<meta name="viewport" content="width=device-width">

  	<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:400italic,600italic,700italic,400,700,600">
    <link rel="stylesheet" type="text/css" href="../stylesheets/css/ui-lightness/jquery-ui-1.8.22.custom.css">
  	<link rel="stylesheet" type="text/css" href="../stylesheets/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="../stylesheets/css/stories.css"> -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/css/basic-form.css">
    <!--[if lt IE 9 ]>
    
    <![endif]-->

  	<!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
  	<script src="../javascripts/modernizr.min.js"></script>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<!-- header -->
  <div class="header">
    <div class="toolbar">
      <ul>
        <li>Hello!</li>
        <li><a href="">Log In</a></li>
        <li><a href="">Sign Up</a></li>
      </ul>
    </div>  
    <div class="navigation-wrapper">
      <div class="logo">
        <a href="">
          <img src="../images/logo.png" alt="First Person American" width="458" height="68"/>
        </a>
        <span class="tagline">What's your story?</span>
      </div>
      <ul class="navigation">
        <li><a href="">Stories <span>Videos & Interviews</span></a></li>
        <li><a href="">Be a First Person <span>How to Participate</span></a></li>
        <li class="fix-width"><a href="">Top 5's <span>Cultural Tips & Picks</a></li>
        <li class="nav-offset about"><a href="">About</a></li>
        <li class="nav-offset programs"><a href="">Programs</a></li>
        <li class="nav-offset blog"><a href="">Blog</a></log>
      </ul>
    </div>
    </div>
<!-- end header -->
<!-- main content -->
  
  	<!-- <div id="main" role="main" class="stories-page"> -->
    <div id="main" role="main" class="basic-form-page">


  <div class="page-header">
    <ul class="breadcrumbs">
      <li><a href="">Be a First Person</a></li>
      <li><a href="">I'm an immigrant</a></li>
      <li><a href="">Basic Info</a></li>
    </ul>
    <h2 class="header-large">Basic Info</h2>  
  </div>
  <div class="content-wrapper">
    <div class="side-content">
      <ul>
        <li><a class="highlight" href="">1. Basic Info</a>
        <li><a href="">2. Photo Memories</a>
        <li><a href="">3. Description</a>
        <li><a href="">4. What's your story?</a>
        <li><a href="">5. Publish</a>
      </ul>
    </div>
    <div class="content">
      <form id="basic-info" name="basic-info">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat tempus varius. Sed sagittis lorem vitae justo fringilla ut iaculis risus condimentum. Vestibulum sed viverra lectus. Nam et velit ipsum. Fusce placerat lorem in risus tristique ut facilisis eros auctor. Mauris vulputate viverra nisi, vitae eleifend velit semper feugiat. Suspendisse sit amet mauris id lorem consequat volutpat.
        </p>      
        <fieldset>
          <legend>
            <div class="user-info-icon">
              <h6 class="stripes-dark">
                <span>About You</span>
              </h6>
            </div>
          </legend>
          <div class="legend-fix">
            <div class="form-left">
              <div class="field-wrapper">
                <label for="full-name">Full Name *</label>
                <input type="text" id="full-name" name="full-name" />
              </div>
              <div class="field-wrapper">
                <label for="gender">Gender *</label>
                <select id="gender" name="gender">
                  <option>Female</option>
                  <option>Male</option>
                </select>             
              </div>
              <div class="field-wrapper">
                <label for="birthdate">Birthdate *</label>
                <label for="birthdate" class="datepicker-icon"></label>
                <input type="text" id="birthdate" name="birthdate" data-role="datepicker" />
              </div>
            </div>
            <div class="form-right">
              <div class="field-wrapper">
                <label for="birthplace">Birthplace *</label>
                <input type="text" id="birthplace" name="birthplace" />
              </div>
              <div class="field-wrapper">
                <label for="nationality">Nationality *</label>        
                <input type="text" id="nationality" name="nationality" />
              </div>  
              <div class="field-wrapper nationality-hidden">
                <label for="nationality-2">Nationality *</label>        
                <input type="text" id="nationality-2" name="nationality-2" />
              </div>                
              <a class="add-field fade-toggle" data-field="nationality-hidden" data-toggle-text="- Remove Nationality" href="">+ Add Another Nationality</a>
            </div>
          </div>
        </fieldset> 
        <fieldset class="stripes">
          <legend>
            <div class="history-info-icon">
              <h6 class="stripes-dark">
                <span>Family History</span>
              </h6>
            </div>
          </legend> 
          <div class="legend-fix">      
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat tempus varius. Sed sagittis lorem vitae justo 
            </p>
            <div class="form-left">
              <div class="field-wrapper">
                <label for="father-ethnicity">Dad's Ethnicity</label>
                <input type="text" id="father-ethnicity" name="father-ethnicity" />
              </div>
              <div class="field-wrapper">
                <label for="f-grandmother-ethnicity">Grandma's Ethnicity</label>
                <input class="history-input-sm" type="text" id="f-grandmother-ethnicity" name="f-grandmother-ethnicity" />
              </div>
              <div class="field-wrapper">
                <label for="f-grandfather-ethnicity">Grandpa's Ethnicity</label>
                <input class="history-input-sm" type="text" id="f-grandfather-ethnicity" name="f-grandfather-ethnicity" />
              </div>
              <div class="field-wrapper f-family-hidden">
                <label for="f-greatgrandmother-ethnicity">Greatgrandma's Ethnicity</label>
                <input class="history-input-sm" type="text" id="f-greatgrandmother-ethnicity" name="f-greatgrandmother-ethnicity" />
              </div>
              <div class="field-wrapper f-family-hidden">
                <label for="f-greatgrandfather-ethnicity">Greatgrandpa's Ethnicity</label>
                <input class="history-input-sm" type="text" id="f-greatgrandfather-ethnicity" name="f-greatgrandfather-ethnicity" />
              </div>                 
              <a class="add-field fade-toggle" data-field="f-family-hidden" data-toggle-text="- Remove Greatgrandparents" href="">+ Add Greatgrandparents</a>
            </div>
            <div class="form-right">
              <div class="field-wrapper">
                <label for="mother-ethnicity">Mom's Ethnicity</label>
                <input type="text" id="mother-ethnicity" name="mother-ethnicity" />
              </div>
              <div class="field-wrapper">
                <label for="m-grandmother-ethnicity">Grandma's Ethnicity</label>
                <input class="history-input-sm" type="text" id="m-grandmother-ethnicity" name="m-grandmother-ethnicity" />
              </div>
              <div class="field-wrapper">
                <label for="m-grandfather-ethnicity">Grandpa's Ethnicity</label>
                <input class="history-input-sm" type="text" id="m-grandfather-ethnicity" name="m-grandfather-ethnicity" />
              </div>
              <div class="field-wrapper m-family-hidden">
                <label for="m-greatgrandmother-ethnicity">Greatgrandma's Ethnicity</label>
                <input class="history-input-sm" type="text" id="m-greatgrandmother-ethnicity" name="m-greatgrandmother-ethnicity" />
              </div>
              <div class="field-wrapper m-family-hidden">
                <label for="m-greatgrandfather-ethnicity">Greatgrandpa's Ethnicity</label>
                <input class="history-input-sm" type="text" id="m-greatgrandfather-ethnicity" name="m-greatgrandfather-ethnicity" />
              </div>              
              <a class="add-field fade-toggle" data-field="m-family-hidden" data-toggle-text="- Remove Greatgrandparents" href="">+ Add Greatgrandparents</a>
            </div>
          </div>
        </fieldset> 
        <fieldset>
          <legend>
            <div class="journey-info-icon">
              <h6 class="stripes-dark">
                <span>Family Journey</span>
              </h6>
            </div>
          </legend>       
          <div class="legend-fix">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat tempus varius. Sed sagittis lorem vitae justo 
            </p>  
            <div class="journey-history">
              <div class="journey-history-headers">
                <div class="journey-history-location">
                  Location
                </div>
                <div class="journey-history-date">
                  Date
                </div>
              </div>
              <div class="history-info">
                <div class="history-row odd">
                  <div class="journey-history-location">
                    Bogota, Colombia
                  </div>
                  <div class="journey-history-date">
                    January 17, 2002
                  </div>  
                  <div class="journey-history-actions">
                    <a href="">Edit</a> | 
                    <a href="">Delete</a>
                  </div>                      
                </div>        
                <div class="history-row">
                  <div class="journey-history-location">
                    Mexico City, Mexico
                  </div>  
                  <div class="journey-history-date">
                    August 17, 2002
                  </div>      
                  <div class="journey-history-actions">
                    <a href="">Edit</a> | 
                    <a href="">Delete</a>
                  </div>                                            
                </div>        
                <div class="history-row odd">
                  <div class="journey-history-location">
                    Bogota, Colombia
                  </div>
                  <div class="journey-history-date">
                    January 17, 2002
                  </div>        
                  <div class="journey-history-actions">
                    <a href="">Edit</a> | 
                    <a href="">Delete</a>
                  </div>                                          
                </div>  
                <div class="history-row">
                  <div class="journey-history-location">
                    <input type="text" id="" name="location" />
                  </div>
                  <div class="journey-history-date">
                    <input type="text" id="journey-date-1" name="date" data-role="datepicker" />
                    <label for="journey-date-1" class="datepicker-icon"></label>
                  </div>
                </div>                                      
              </div>
            </div>
            <a class="add-field" href="">+ Add Location</a>
          </div>      
        </fieldset>   
      </form>
    </div>
  </div>


  	</div>

<!-- end main content -->

<!-- footer -->
  <div class="footer">
    <div class="copyright">
      <h6>First Person American</h6>
      <p>
        &copy; 2012-2012 First Person American.
        All Rights Reserved
      </p>
    </div>
    <div class="sitemap">
      <h6>Sitemap</h6>
      <ul>
        <li><a href="">Home</a></li>
        <li class="right"><a href="">Contact</a></li>
        <li><a href="">Stories</a></li>
        <li class="right"><a href="">Search</a></li>
        <li><a href="">Be a First Person</a></li>
        <li class="right"><a href="">My Account</a></li>
        <li><a href="">Top 5's</a></li>
        <li class="right"><a href="">Privacy Policy</a></li>
        <li><a href="">Programs</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </div>
    <div class="subscribe">
      <form>
        <fieldset>
          <legend>
            <h6>Join our mailing list</h6>
          </legend>
          <label for="userName">Your name</label>
          <input type="text" name="userName" id="userName" placeholder="Your name"/>
          <label for="email">Your e-mail address</label>
          <input type="text" name="email" id="email" placeholder="Your e-mail address" />
          <input class="button-primary" type="submit" value="Subscribe" />
        </fieldset>
      </form>
    </div>
    <div class="social-links">
      <h6>Keep in touch</h6>
      links to facebook, twitter, etc
    </div>            
  </div>
<!-- end footer -->

  	<!-- JavaScript at the bottom for fast page loading -->
	<script src="../javascripts/jquery.1.7.2.js"></script>
  <script src="../javascripts/plugins/jquery.placeholder.min.js"></script>
  <script src="../javascripts/jquery-ui-1.8.22.custom.min.js"></script>
  <script src="../javascripts/fpa.js"></script>
  <script src="../javascripts/mustache.js"></script>
	<!-- <script src="../javascripts/main.js"></script> -->
</body>
</html>