<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  	<meta charset="utf-8">

  	<!-- Use the .htaccess and remove these lines to avoid edge case issues.
       	 More info: h5bp.com/i/378 -->
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  	<title></title>
  	<meta name="description" content="">

  	<!-- Mobile viewport optimized: h5bp.com/viewport -->
  	<meta name="viewport" content="width=device-width">

  	<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:400italic,600italic,700italic,400,700,600">
  	<link rel="stylesheet" type="text/css" href="../stylesheets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/css/story.css">
    <!--[if lt IE 9 ]>
    
    <![endif]-->

  	<!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
  	<script src="../javascripts/modernizr.min.js"></script>
</head>
<body>
<!-- header -->
  <div class="header">
    <div class="toolbar">
      <ul>
        <li>Hello!</li>
        <li><a href="">Log In</a></li>
        <li><a href="">Sign Up</a></li>
      </ul>
    </div>  
    <div class="navigation-wrapper">
      <div class="logo">
        <a href="">
          <img src="../images/logo.png" alt="First Person American" width="458" height="68"/>
        </a>
        <span class="tagline">What's your story?</span>
      </div>
      <ul class="navigation">
        <li><a href="">Stories <span>Videos & Interviews</span></a></li>
        <li><a href="">Be a First Person <span>How to Participate</span></a></li>
        <li class="fix-width"><a href="">Top 5's <span>Cultural Tips & Picks</a></li>
        <li class="nav-offset about"><a href="">About</a></li>
        <li class="nav-offset programs"><a href="">Programs</a></li>
        <li class="nav-offset blog"><a href="">Blog</a></log>
      </ul>
    </div>
    </div>
<!-- end header -->
<!-- main content -->

	<div id="main" role="main" class="story-page">
  <div class="content-wrapper">
    <div class="content">
      <ul class="breadcrumbs">
        <li><a href="">Stories</a></li>
        <li><a href="">Soo Yun Kun</a></li>
      </ul>
      <div class="story-header-container">
        <img class="story-header-image" src="../images/img-story-header.png"/>
        <h2 class="header-large">Soo Yun Kun</h2>
        <div class="story-tags-container">
          <span class="tag-yellow">Featured Story</span>
          <span class="tag-orange">Welcoming Stories</span>
        </div>
        <h4 class="story-subheader">
          From Seoul, Korea to Brooklyn
        </h4>
      </div>
      <div class="story-details">
        <div class="story-video media">
          TO IMPLEMENT -> VIDEO
        </div>
        <h3 class="subheader stripes">
          <span class="stripes-header">What's Your Story?</span>
        </h3>
        <div>
          <p>
            When Soo Yun Yun was growing up in Seoul, she loved watching the movie My Own Private Idaho, and fell in love with the notion of one day living in Idaho (which is ironic, given that the movie has very little to do with the actual state).
          </p>
          <p>
  Soo Yun sat her parents down and told them she wants to go to Idaho to study English. Armed with a few belongings, a dictionary and a few traditional Korean gifts, she headed to Lewiston, Idaho (a northern Idaho city with a population of 40,000). Leaving Seoul was difficult—it was the first time in that Soo Yun would leave her family, friends and everything familiar to pursue her own path.
          </p>
          <p>
  Soo Yun talks about her experience with being an exchange student at a host family in Lewiston, Idaho, the isolation she felt during her undergraduate years at Bellhaven College in Jackson Mississipi in 2003, and now, how being a New Yorker now has changed her perspective. 
          </p>
        </div>
        <h3 class="subheader stripes">
          <span class="stripes-header">Family History</span>
        </h3> 
        <div class="story-map media">
          TO IMPLEMENT --> MAP
        </div>
        <h3 class="subheader stripes">
          <span class="stripes-header">Memories</span>
        </h3>
        <div class="memories-container">
          <ul>
            <li>
              <a href="">
                <img src="../images/img-memories-tmp.png" />
                <h6>1st Birthday</h6>
                <span class="memories-location">Seoul, Korea</span>
                <span class="memories-date">January 19th, 1984</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../images/img-memories-tmp.png" />
                <h6>1st Birthday</h6>
                <span class="memories-location">Seoul, Korea</span>
                <span class="memories-date">January 19th, 1984</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../images/img-memories-tmp.png" />
                <h6>1st Birthday</h6>
                <span class="memories-location">Seoul, Korea</span>
                <span class="memories-date">January 19th, 1984</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../images/img-memories-tmp.png" />
                <h6>1st Birthday</h6>
                <span class="memories-location">Seoul, Korea</span>
                <span class="memories-date">January 19th, 1984</span>
              </a>
            </li>                                    
          </ul>
        </div>
        <h3 class="subheader stripes">
          <span class="stripes-header">Q&A</span>
        </h3> 
        <div class="q-a-container">
          <ul>
            <li>
              <h6>Question 1</h6>
              <p>
                 Soo Yun talks about her experience with being an exchange student at a host family in Lewiston, Idaho, the isolation she felt during her undergraduate years at Bellhaven College in Jackson Mississipi in 2003, and now, how being a New Yorker now has changed her perspective. 
              </p>
            </li>
            <li class="stripes">
              <h6>Question 1</h6>
              <p>
                 Soo Yun talks about her experience with being an exchange student at a host family in Lewiston, Idaho, the isolation she felt during her undergraduate years at Bellhaven College in Jackson Mississipi in 2003, and now, how being a New Yorker now has changed her perspective. 
              </p>
            </li>
            <li>
              <h6>Question 1</h6>
              <p>
                 Soo Yun talks about her experience with being an exchange student at a host family in Lewiston, Idaho, the isolation she felt during her undergraduate years at Bellhaven College in Jackson Mississipi in 2003, and now, how being a New Yorker now has changed her perspective. 
              </p>
            </li>
          </ul>
        </div>
        <h3 class="subheader stripes">
          <span class="stripes-header">Top 5's</span>
        </h3>  
        <div class="top-5-container">
          <div class="top-5 stripes-tertiary">
            <h5>My Favorite Korean Food</h5>
            <div class="top-5-innner-wrapper">
              <span class="tag-orange-large">Food</span>
              <ul>
                <li>1. Duck Bok Gi</li>
                <li>2. Chicken</li>
                <li>3. Steak</li>
              </ul>
              <a href="">See all 5's ></a>
            </div>
          </div>
          <div class="top-5">
            <h5>My Favorite Korean Food</h5>
            <div class="top-5-innner-wrapper">
              <span class="tag-green-large">Food</span>
              <ul>
                <li>1. Duck Bok Gi</li>
                <li>2. Chicken</li>
                <li>3. Steak</li>
              </ul>
              <a href="">See all 5's ></a>
            </div>
          </div>    
          <a href="">Browse all of Soo Yun's Top 5's ></a>      
        </div>
      </div>
    </div>
    <div class="side-content">
      <div class="search stripes">
        <form>
          <fieldset>
            <legend class="section-header">
              Search Stories <a href="">Advance Search</a>
            </legend>
            <div>
              <label for="search">Search</label>
              <input type="text" placeholder="Type a name, place, etc" />
              <span class="button-primary-icon button-primary">
                <input type="submit" class="search-button" value="Search" />  
              </span>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="recent-stories">
        <h3 class="highlight-header stripes">
          <span>Recent Stories</span>
        </h3>
        <ul>
          <li>
            <a href="">
              <span class="recent-story-img">
                <img src="../images/img-recent-tmp.png" />
              </span>
              <span class="recent-story-info">
                <h5>Manu Garcia</h5>
                <p>
                  I have to be hopeful.
                </p>
                <span class="recent-story-follow">Follow Manu's Story ></span>
              </span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="recent-story-img">
                <img src="../images/img-recent-tmp.png" />
              </span>
              <span class="recent-story-info">
                <h5>Manu Garcia</h5>
                <p>
                  I have to be hopeful.
                </p>
                <span class="recent-story-follow">Follow Manu's Story ></span>
              </span>
            </a>
          </li>          
        </ul>
        <a href="">View Featured Stories ></a>
        <a href="" class="all-stories">View All Stories > </a>
      </div>
    </div>
  </div>
	</div>

<!-- end main content -->

<!-- footer -->
  <div class="footer">
    <div class="copyright">
      <h6>First Person American</h6>
      <p>
        &copy; 2012-2012 First Person American.
        All Rights Reserved
      </p>
    </div>
    <div class="sitemap">
      <h6>Sitemap</h6>
      <ul>
        <li><a href="">Home</a></li>
        <li class="right"><a href="">Contact</a></li>
        <li><a href="">Stories</a></li>
        <li class="right"><a href="">Search</a></li>
        <li><a href="">Be a First Person</a></li>
        <li class="right"><a href="">My Account</a></li>
        <li><a href="">Top 5's</a></li>
        <li class="right"><a href="">Privacy Policy</a></li>
        <li><a href="">Programs</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </div>
    <div class="subscribe">
      <form>
        <fieldset>
          <legend>
            <h6>Join our mailing list</h6>
          </legend>
          <label for="userName">Your name</label>
          <input type="text" name="userName" id="userName" placeholder="Your name"/>
          <label for="email">Your e-mail address</label>
          <input type="text" name="email" id="email" placeholder="Your e-mail address" />
          <input class="button-primary" type="submit" value="Subscribe" />
        </fieldset>
      </form>
    </div>
    <div class="social-links">
      <h6>Keep in touch</h6>
      links to facebook, twitter, etc
    </div>            
  </div>
<!-- end footer -->
  	
    <script src="../javascripts/jquery.1.7.2.js"></script>
    <script src="../javascripts/plugins/jquery.placeholder.min.js"></script>

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->  
</body>
</html>