.header {
    @include col($cols: 24);
    @include col-first;
    @include col-last;

    margin-bottom: 15px;

    a {
        color: $body-color;
    }

    .toolbar {
        @include clearfix;
        padding: 7px 0;
        ul {
            float: right;
            li {
                float: left;
                font-family: $header-font;
                font-size: 13px;
                &:after {
                    content: "|";
                    padding-left: 10px;
                    margin-right: 10px;
                }
                &:last-child {
                    &:after {
                        content: none;    
                    }
                    a {
                        color: $header-color-secondary;
                    }
                }
                a {
                }
            }
        }
    }
    
    .navigation-wrapper {
        @include clearfix;
        border-top: 1px dotted $border-color;
        &:after {
            @extend .stripes-secondary;
            position: relative;
            top: -5px;
            display: block;
            z-index: -1;
            content: " ";            
            height: 10px;
        }
    }
    
    .logo {
        float: left;
        position: relative;
        margin-top: 14px;
        a {
            img {
                width: 458px;
                height: 68px;
                border: 0;
                display: block;
            }
        }
        .tagline {
            position: absolute;
            bottom: -10px;
            right: 0;
            padding: 0 5px;
            background: #fff;
            font-family: $header-font;
            font-size: 18px;
            color: $header-color-secondary;
            text-transform: uppercase;
        }
    }

    .navigation {
        float: right;
        width: 492px;
        margin-left: 10px;
        @include clearfix;
        position: relative;
        font-family: $secondary-font;            
        li {
            float: left;
            &:first-child a {
                color: $header-color;
                span {
                    color: $body-color;
                }
            }
            &.nav-offset {
                position: absolute;
                right: 0;
                a {
                    height: 26px;
                    width: 80px;
                    border-bottom: 1px solid $border-color;
                    padding: 0 0 0 7px;
                    font-size: 22px;
                    line-height: 26px;
                }
            }
            &.about {
                top: 0px;
            }
            &.programs {
                top: 26px;
            }
            &.blog {
                top: 52px;
                a {
                    border-bottom: 0;
                }
            }
            &.fix-width {
                width: 130px;
            }
            a {
                display: block;
                height: 78px;
                padding: 27px 6px 0;
                border-left: 1px solid $border-color;
                background: #fff;
                font-size: 30px;
                text-transform: uppercase;
                text-decoration: none;
                span {
                    display: block;
                    font-size: 11px;
                    font-family: $header-font;
                    text-transform: none;
                }
                &:hover {
                    background: #ffd52b;
                }
            }
        }
    }
}