//site dimensions
$site-width: 960px;

//font-colors
$body-color: #020202;
$body-secondary: #6e6e6e;
$header-color: #1583AB;
$header-color-secondary: #e33237;

//borders
$border-color: #ccc;

//font
$body-font: 'Open Sans',sans-serif;
$header-font: 'Rokkitt',serif;
$secondary-font: 'BebasNeueRegular', sans-serif, serif, Helvetica;

//sassy button defaults override
$sb-padding: 4px 3px;
$sb-line-height: 1em;