@import "variables",
        "common-mixins",
        "font-faces",
        "grid",
        "sassy-buttons",
        "search-module";

.stories-page {
	.header-large {
		display: inline;
	}
	.subheader {
		display: inline;
	}
}

.stories-list-wrapper {
	padding-top: 10px;
	.stories-functions {
		@include clearfix;
	}
	.stories-counter {
		float: left;
		font-family: $header-font;
		font-size: 17px;
		text-transform: uppercase;
		line-height: 26px;
		span {
			color: $header-color;
		}
	}
	.filter-wrapper {
		float: right;
		position: relative;
		top: -11px;
		label {
			font-family: $header-font;
			font-size: 12px;
			text-transform: uppercase;
		}

		span, select {
			vertical-align: middle;
		}
	}

	.stories {
		clear: both;
		border-top: 1px dotted $border-color;
	}
	.stories .story {
		@include clearfix;
		padding: 10px 1px;
		display: table;
		width: 100%;
		& > * {
			@include box-sizing(content-box);
		}
		.profile-img {
			display: table-cell;
			vertical-align: middle;
			width: 50px;
		}
		.full-name {
			display: table-cell;
			vertical-align: middle;
			width: 70px;
			max-width: 70px;
			padding: 0 10px;
			font-height: 15px;
		}
		.story-info {
			display: table-cell;
			vertical-align: middle;			
			width: 295px;
			max-width: 295px;
			padding-right: 10px;
			a {
				display: block;
				font-size: 22px;
				font-family: $header-font;
				color: $header-color-tertiary;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		.other-info {
			display: table-cell;
			vertical-align: middle;
			width: 185px;
			max-width: 185px;
			line-height: 18px;
			.flag-icon {
				background: url(../../images/icon-flag.png) center left no-repeat;
			}
			.home-icon {
				background: url(../../images/icon-home.png) center left no-repeat;
			}
			.plane-icon {
				background: url(../../images/icon-plane.png) center left no-repeat;
			}
			dt {
				float: left;
				clear: left;
				width: 65px;
				padding-left: 15px;
				color: #a6b9c0;
				text-transform: uppercase;
				font-size: 10px;
			}
			dd {
				float: left;
			}
		}
	}
	.load-more {
		background: #fff8df;
		line-height: 75px;
		text-align: center;
		font-size: 11px;
		text-transform: uppercase;
		font-family: $header-font;
	}
}

.featured-programs {
	p {
		font-size: 11px;
		margin-bottom: 20px;
		@include clearfix;
	}
	p img {
		float: left;
		padding: 6px 10px 0 0;
		display: block;
	}
	a {
		color: $header-color-secondary;
		font-size: 12px;
	}
}

.join-cta-banner {
	background: url(../../images/img-become-fpa.png) top left no-repeat;
	display: block;
	width: 300px;
	height: 141px;
	text-indent: -9999px;
	margin: 85px 0 30px;
}

