@import "compass/reset",
        "variables",
        "common-mixins",
        "font-faces",
        "grid",
        "sassy-buttons",
        "breadcrumbs";

//lets change the box model to what makes sense :)
* {
    @include box-sizing;
}

body {
    width: $site-width;
    margin: 0 auto;
	color: $body-color;
    font-family: $body-font;
    font-size: 14px;
}

h1, 
h2,
h3, 
h4, 
h5, 
h6 {
	color: $header-color;
	font-family: $header-font;
    font-weight: bold;
}

a {
    color: $header-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

input[type = "password"],
input[type = "text"],
textarea {
    padding: 5px;
    border: 1px solid $border-color;
    margin-bottom: 8px;
    vertical-align: top;
    &.placeholder {
        color: #aaa;
    }
    &:hover {
       border: 1px solid #fbcb09; 
    }
}

input[type="submit"],
button {
    vertical-align: top;    
}

a.ui-selectmenu {
    text-decoration: none;
    font-size: 11px;
    font-family: $body-font;
    background: #fff;
    color: $body-color;
    border-radius: 0px;
    line-height: 20px;
    font-weight: normal;
    &:hover {
        background-color: #fff;
    }

    .ui-icon {
        background-image: url(../../images/icon-drop-down.png);
        background-position: 50% 50%;
    }

}

.ui-selectmenu-status {
    padding-left: 6px;
}

.ui-selectmenu-menu-dropdown {
    font-family: $body-font;
    font-size: 11px;
    background: #fff;
    min-width: 100%;
    width: auto;
    border-radius: 0;
    li {
        border-radius: 0;
        border: 0;
        background: #fff;
        line-height: 20px;
        &.ui-selectmenu-item-selected {
            background: #fff;
            border: 0;
        }
        &.ui-state-hover {
            background: #e33237;
            border: 0;
            a {
                color: #fff;
            }
        }
        a {
            padding-left: 6px;
        }
    }   
}

.secondary-color {
    color: $header-color-secondary;
}

.button-primary {
    @include sassy-button("matte", 0px, 11px, #1893b5, #1582aa, #fff);
    font-family: $body-font;
    font-weight: bold;
    line-height: normal !important;
}

.button-primary-large {
    @include sassy-button("matte", 0px, 13px, #ff812a, #ff6616, #fff);
    font-family: $body-font;
    font-weight: bold;
    line-height: normal !important;    
}

.button-primary-icon {
    @include sassy-button("matte", 0px, 11px, #1893b5, #1582aa, #fff);
    font-family: $body-font;
    font-weight: bold;    
    padding: 0;     
    line-height: normal !important;
    .search-button {
        background: url(../../images/icon-search.png) transparent center center no-repeat;          
        height: 28px;
        width: 28px;
        margin: 0;
        border: 0;
        padding: 0;
        text-indent: -9999px;
        line-height: normal !important;
    }
}

//ie7 crap
.lt-ie8 {
    .button-primary-icon {
        width: 28px;
        height: 28px; 
        .search-button {
            display: block;
            font-size: 0;
            line-height: 0 !important;
        }
    }
}
//end ie7 crap

p {
    line-height: 20px;
}

@import "header",
        "footer";

#main {
    @include clearfix;
    clear: both;
    .content-wrapper {
        @include col($cols: 24);
        @include col-first;
        @include col-last;        
    }
    .content {
        @include col($cols: 16);
        @include col-first;
        @include col-last;        
    }

    .side-content {
        @include col($cols: 8);
        @include col-last;
        padding-left: 20px;
    }    
}

.header-large {
    font-family: $secondary-font;
    font-size: 70px;
    color: $body-color;
    text-transform: uppercase;
    font-weight: normal;
}

.subheader {
    font-size: 30px;
    font-weight: normal;
}

.section-header,
h4 {
    font-family: $header-font;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.stripes {
    background-image: url(../../images/bg-stripe-blue.png);
    background-position: top left;
    background-repeat: repeat;
}

.stripes-dark {
    background-image: url(../../images/bg-stripe-dark-blue.png);
    background-position: top left;
    background-repeat: repeat;
}

.stripes-secondary {
    background-image: url(../../images/bg-stripe-grey.png);
    background-position: top left;
    background-repeat: repeat;
}

.stripes-tertiary {
    background-image: url(../../images/bg-stripe-orange.png);
    background-position: top left;
    background-repeat: repeat;
}

.stripes-header {
    padding-right: 7px;
    background-color: #fff;    
}


.highlight-header {
    @extend .stripes-secondary;
    margin-bottom: 10px;
    span {
        background: #fff;
        color: $body-color;
        font-size: 18px;
        text-transform: uppercase;
        padding-right: 7px;
    }
}

.tag-yellow {
    @include tag-creator($side: left, $border-color: #ffd52b, $background-color: #ffd52b, $border-width: 1px, $size: 7px, $color: #fff, $position: 50%);
}

.tag-orange {
    @include tag-creator($side: left, $border-color: $header-color-tertiary, $background-color: $header-color-tertiary, $border-width: 1px, $size: 7px, $color: #fff, $position: 50%);
}

.tag-green {
    @include tag-creator($side: left, $border-color: #4fb547, $background-color: #4fb547, $border-width: 1px, $size: 7px, $color: #fff, $position: 50%);
}

.tag-orange-large {
    @include tag-creator-large($side: right, $border-color: $header-color-tertiary, $background-color: $header-color-tertiary, $border-width: 1px, $size: 7px, $color: #fff, $position: 15%);
}

.tag-green-large {
    @include tag-creator-large($side: right, $border-color: #20bbab, $background-color: #20bbab, $border-width: 1px, $size: 7px, $color: #fff, $position: 15%);
}

