@import "compass/reset",
        "variables",
        "common-mixins",
        "font-faces",
        "grid",
        "sassy-buttons";

//lets change the box model to what makes sense :)
* {
    @include box-sizing;
}

body {
    width: $site-width;
    margin: 0 auto;
	color: $body-color;
    font-family: $body-font;
    font-size: 14px;
}

h1, 
h2,
h3, 
h4, 
h5, 
h6 {
	color: $header-color;
	font-family: $header-font;
    font-weight: bold;
}

a {
    color: $header-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

input[type = "password"],
input[type = "text"],
textarea {
    padding: 5px;
    border: 1px solid $border-color;
    margin-bottom: 8px;
    vertical-align: top;
    &.placeholder {
        color: #aaa;
    }
}

input[type="submit"],
button {
    vertical-align: top;
}

.button-primary {
    @include sassy-button("matte", 0px, 11px, #1893b5, #1582aa, #fff);
    font-family: $body-font;
    font-weight: bold;
    line-height: normal !important;
}

.button-primary-icon {
    @include sassy-button("matte", 0px, 11px, #1893b5, #1582aa, #fff);
    font-family: $body-font;
    font-weight: bold;    
    padding: 0;     
    line-height: normal !important;
    .search-button {
        background: url(../../images/icon-search.png) transparent center center no-repeat;          
        height: 28px;
        width: 28px;
        margin: 0;
        border: 0;
        padding: 0;
        text-indent: -9999px;
        line-height: normal !important;
    }
}

//ie7 crap
.lt-ie8 {
    .button-primary-icon {
        width: 28px;
        height: 28px; 
        .search-button {
            display: block;
            font-size: 0;
            line-height: 0 !important;
        }
    }
}

p {
    line-height: 20px;
}

@import "header",
        "footer";

#main {
    @include clearfix;
    .content {
        @include col($cols: 16);
        @include col-first;
    }

    .side-content {
        @include col($cols: 8);
        @include col-last;
        padding-left: 20px;
    }    
}

.breadcrumbs {
    font-family: $header-font;
    font-size: 12px;
    text-transform: uppercase;
}

.header-large {
    font-family: $secondary-font;
    font-size: 70px;
    color: $body-color;
    text-transform: uppercase;
    font-weight: normal;
}

.subheader {
    font-size: 30px;
    font-weight: normal;
}

.section-header,
h4 {
    font-family: $header-font;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.stripes {
    background: url(../../images/bg-stripe-blue.png) top left repeat;
}

.stripes-secondary {
    background: url(../../images/bg-stripe-grey.png) top left repeat;
}



