<script id="tmp-footer" type="text/x-mustache-tmpl">
	<div class="footer">
		<div class="copyright">
			<h6>First Person American</h6>
			<p>
				&copy; 2012-2012 First Person American.
				All Rights Reserved
			</p>
		</div>
		<div class="sitemap">
			<h6>Sitemap</h6>
			<ul>
				<li><a href="">Home</a></li>
				<li class="right"><a href="">Contact</a></li>
				<li><a href="">Stories</a></li>
				<li class="right"><a href="">Search</a></li>
				<li><a href="">Be a First Person</a></li>
				<li class="right"><a href="">My Account</a></li>
				<li><a href="">Top 5's</a></li>
				<li class="right"><a href="">Privacy Policy</a></li>
				<li><a href="">Programs</a></li>
				<li><a href="">Blog</a></li>
			</ul>
		</div>
		<div class="subscribe">
			<form>
				<fieldset>
					<legend>
						<h6>Join our mailing list</h6>
					</legend>
					<label for="userName">Your name</label>
					<input type="text" name="userName" id="userName" placeholder="Your name"/>
					<label for="email">Your e-mail address</label>
					<input type="text" name="email" id="email" placeholder="Your e-mail address" />
					<input type="submit" value="Subscribe" />
				</fieldset>
			</form>
		</div>
		<div class="social-links">
			<h6>Keep in touch</h6>
			links to facebook, twitter, etc
		</div>						
	</div>
</script>