<script id="tmp-header" type="text/template">
	<header role="main">
		<hgroup>
			<ul>
				<li>Hello!</li>
				<li><a href="">Log In</a></li>
				<li><a href="">Sign Up</a></li>
			</ul>
		</hgroup>
		<hgroup>
			<h1><a href=""><img src="../images/logo.png" alt="First Person American. What's your story" width="458" height="68"/></a></h1>
			<nav>
				<ul>
					<li><a href="">Stories <span>Videos & Interviews</span></a></li>
					<li><a href="">Be a First Person <span>How to Participate</span></a></li>
					<li><a href="">Top 5's <span>Cultural Tips & Picks</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Programs</a></li>
					<li><a href="">Blog</a></log>
				</ul>
			</nav>
		</hgroup>
  	</header>
</script>