<script id="tmp-header" type="text/x-mustache-tmpl">
	<div class="header">
		<div class="toolbar">
			<ul>
				<li>Hello!</li>
				<li><a href="">Log In</a></li>
				<li><a href="">Sign Up</a></li>
			</ul>
		</div>	
		<div class="navigation-wrapper">
			<div class="logo">
				<a href="">
					<img src="../images/logo.png" alt="First Person American" width="458" height="68"/>
				</a>
				<span class="tagline">What's your story?</span>
			</div>
			<ul class="navigation">
				<li><a href="">Stories <span>Videos & Interviews</span></a></li>
				<li><a href="">Be a First Person <span>How to Participate</span></a></li>
				<li class="fix-width"><a href="">Top 5's <span>Cultural Tips & Picks</a></li>
				<li class="nav-offset about"><a href="">About</a></li>
				<li class="nav-offset programs"><a href="">Programs</a></li>
				<li class="nav-offset blog"><a href="">Blog</a></log>
			</ul>
		</div>
  	</div>
</script>