<script id="tmp-stories" type="text/x-mustache-tmpl">
	<div class="content">
		<div class="breadcrumbs">Stories</div>
		<h2 class="header-large">Stories</h2>
		<h3 class="subheader">First Person Interviews & Stories</h3>
		<p>
		Here at First Person American we love a good story. These brave souls scaled the world, crossed the seven seas, and came to the United States with a dollar in their pocket. Lucky for you, there's no need to uproot yourself to learn more about their experience.
		</p>

		<div class="search stripes">
			<form>
				<fieldset>
					<legend class="section-header">
						Search Stories <a href="">Advance Search</a>
					</legend>
					<div>
						<label for="search">Search</label>
						<input type="text" placeholder="Type a name, place, etc" />
						<span class="button-primary-icon button-primary">
							<input type="submit" class="search-button" value="Search" />	
						</span>
					</div>
				</fieldset>
			</form>
		</div>

	</div>
	<div class="side-content">
		side content lol
	</div>
</script>